* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(212, 58, 109);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(245, 215, 227);
}

main {
    flex: 1;
}

.cabecalho-link{
    color:rgb(238, 117, 222);
    text-decoration: rgb(255, 29, 104);
}

h1{
    color:rgb(250, 172, 211);
}